@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #0f0f0f 0%, #16294a 100%);
  box-shadow: 0 16px 14px 0 #000511;
  padding: 18px 24px;
  max-width: 300px;
}

.image {
  margin-bottom: 30px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  color:lightseagreen;
}

.description {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 100;
  color: rgb(102, 174, 247);
}

.skills {
  width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.skill {
  font-size: 18px;
    font-weight: 200;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 4px 24px;
    border: 1px solid;
}

.skill:hover{
  background-color:lightslategray;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 25px;
  font-weight: 200;
  border-radius: 50px;
  background: var(--color-primary);
  background-color: var(--color-primary);
  color: turquoise;
  padding: 8px 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.link:hover{
  background-color:lightslategray;
}
